.user-information{
  display: flex;
}

.pp{
  border-radius: 50%;
  overflow: hidden;
  height:50px;
  width: 50px;
}
.name{
  margin-left:20px;
}
.btn-rm{
  border-radius: 6px;
  padding: 10px;
  background: none;
  border: 1px solid #8c8787;
  font-size: 15px;
  font-family: sans-serif;
  font-weight: bold;
}
.btn-rm:hover{
  border: 1px solid #3dd2ff;
  color: #3dd2ff;
}
